@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --blueMain: #1e0094;
  --blueSecondary: #10014d;
  --whiteMain: #fff;
  --blackMain: #000;
  --text-color: #fff;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
  background-color: var(--blueMain);
  font-family: 'Roboto', sans-serif;
}