.initialSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    max-width: 100dvw;
    padding: 50px;
    border-bottom: 5px solid var(--whiteMain);
}

.initialText {
    color: var(--text-color);
    width: 50%;
}

.title{
    font-size:5rem;
    font-weight: bold;
}

.subtitle{
    font-size: 2.5rem;
}

.description {
    font-size: 1.5rem;
    margin-top: 20px;
}

.initialImage {
    img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }
}

@media screen and (max-width:950px){
    .initialSection{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .initialText {
        width: 100%;
        text-align: center;
    }
    .title{
        font-size: 3rem;
    }
    .initialImage{
        margin-top: 30px;
        img{
            width: 300px;
            height: 300px;
        }
    }
}