.skillSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 250px;
    padding: 50px;
    border-bottom: 5px solid var(--whiteMain);
}

.skillTitle {
    font-size: 2.5rem;
    color: #fff;
}

.skillList{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

@media (max-width: 900px) {

    .skillSection {
        padding: 20px;
        height: auto;
    }

    .skillTitle {
        font-size: 2rem;
    }

    .skillList {
        margin-top: 20px;
        flex-direction: row;
    }
}